<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Add product</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/main.css">
  <style>
  

  </style>

</head>

<body>
  <header class="main-header">
    <nav class="main-header-nav">
      <ul class="main-header-item-list">
        <li class="main-header-item"> <a class="active"href="/">Shop</a>
        <li class="main-header-item"><a href="/admin/add-product">Add product</a>
      </ul>
    </nav>

  </header>
  <main>
    <h1> My Products</h1>
    <p> List of products</p>
  </main>
  <script src="js/scripts.js"></script>
</body>

</html>